@font-face {
  font-family: "Signifier";
  src: url("Signifier-Light.woff2") format("woff2"),
    url("Signifier-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
    font-family: 'Signifier';
    src: url('Signifier-Bold.woff2') format('woff2'), url('Signifier-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: "Signifier";
  src: url("Signifier-LightItalic.woff2") format("woff2"),
    url("Signifier-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Signifier";
  src: url("Signifier-Medium.woff2") format("woff2"),
    url("Signifier-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Signifier";
  src: url("Signifier-Medium.woff2") format("woff2"),
    url("Signifier-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
